test/
test/*

r/_site*
r/about.html
r/about.Rmd
r/quick*
r/site*
r/covid_analysis/.DS_Store
r/covid_analysis/.Rhistory
r/covid_analysis/data/.DS_Store
r/covid_analysis/Rplot.png
r/.Rhistory
r/.DS_Store
r/covid_analysis/covid_dashboard/rsconnect/*
r/covid_analysis/covid_dashboard/rsconnect
r/covid_analysis/covid_dashboard/.DS_Store
r/covid_analysis/covid_dashboard/rsconnect/shinyapps.io/qg2ap2-sean-harrigan/covid_dashboard.dcf
r/covid_analysis/dashboard
r/covid_analysis/dashboard/*
js/scroll_animation.js
.DS_Store

css/agency*
.vscode/
.vscode/*
js/particles1.js

.Rproj.user
